<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <div class="container">
    <form action="/farmer" method="post">

    <h1>Push to crsnt.store</h1>
    <p>Please press the button to post.</p>
      <input type="submit" name="handle" value="crscnt.store" />
    </form>
  </div>
  </body>
</html>
